.shy-div {
  background-color: #185a9c;
  min-width: 102%;
  position: absolute;
  right: -1%;
  top: 0;
  width: 100%;
  z-index: -1;
}
.cube-manager {
  max-width: 80vw;

  overflow: auto;
}

.bg-cube {
  background-color: #add8e6;
  color: #1e1e1e;
  display: inline-block;
}
.sectionRounder {
  border-radius: 20px;
}

/* backgrounds */
.bg-seg-medal {
  background: url("../../../assets/segment/medal.svg");
  background-repeat: no-repeat;
}
.bg-seg-college {
  background: url("../../../assets/segment/college.svg");
  background-repeat: no-repeat;
}
.bg-seg-rocket {
  background: url("../../../assets/segment/rocket.svg");
  background-repeat: no-repeat;
}
.bg-seg-dart {
  background: url("../../../assets/segment/dart.svg");
  background-repeat: no-repeat;
}
.bg-seg-code {
  background: url("../../../assets/segment/code.svg");
  background-repeat: no-repeat;
}
.bg-seg-mind {
  background: url("../../../assets/segment/mind.svg");
  background-repeat: no-repeat;
}
.advancedRounder {
  border-radius: 18px;
}
