.bg-gradient {
  background: linear-gradient(to left, #2a2a72, #0c8ce9);
  transition: opacity 0.15s;
}

.bg-gradient:hover {
  opacity: 0.8;
}

.bg-arrow {
  margin-right: 5px;
  width: 16px;
  height: 10px;
}
.bg-arrow-w {
  background: url("./assets/header/arrow.png");
}

.arrow-btn:hover > .bg-arrow {
  transform: translateX(-10px);
  transition: transform 0.15s;
}

.bg-flash {
  background: url("./assets/header/Vector5.png");
  height: 6px;
  width: 18px;
}

.bg-under {
  background: url("./assets/question/qVector.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.mar-x {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.thin-border {
  border: solid 1px #798086;
}

/* this css goes for all icons in text */
.bg-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #41355d;
}
