/* gap between image and texts */
.question-parent {
  gap: 9vw;
}

/* getting all images */
.bg-dart {
  background: url("../../../assets/question/icon1.png");
}
.bg-check {
  background: url("../../../assets/question/icon2.png");
}
.bg-up {
  background: url("../../../assets/question/icon3.png");
}
.bg-per {
  background: url("../../../assets/question/icon4.png");
}
.bg-person {
  background: url("../../../assets/question/icon5.png");
}
.bg-chat {
  background: url("../../../assets/question/icon6.png");
}

/* this css goes for all icons in text */
.bg-all {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #41355d;
}

.test {
  color: #fff;
  text-align: right;
  font-family: Peyda;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 181%; /* 108.6px */
}
